[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "==4.0"
dj-database-url = "*"
autopep8 = "*"
psycopg2-binary = "*"
django-rest-auth = "*"
djangorestframework-jwt = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.6"
